<ion-view class="ibeacon-view">
  	<ion-nav-title>
    	<span> Online 
        <a class="right button button-icon icon ion-plus" ng-click="create(settings)"></a>
        </span>
    </ion-nav-title>

<ion-content padding>
	<div class="row">
        <div class="col">
            <ion-input class="item item-input">
                <input type="number" min = "0" name="time" ng-model="settings.time" placeholder="time" required>
            </ion-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="button button-dark button-block button-outline" ng-click="startScan()">
                <i class = "icon icon ion-play item-icon-center" >   </i>         
            </a>
        </div>
        <div class="col">
            <a class="button button-dark button-block button-outline" ng-click="stopScan()">
                <i class = "icon icon ion-stop" >   </i>         
            </a>
        </div>
    </div>

    <div clas="centertext">
        <h1 class="app-logo text-center"> {{pos}} </h1>
    </div>

    <div class="list">
        <div class="item" ng-repeat="(key, value) in beacons">
            <div class="row">
                <div class="col truncate">
                    {{value.uuid}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    major: {{value.major}}
                </div>
                <div class="col">
                    minor: {{value.minor}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{value.proximity}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    rssi: {{value.rssi}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    tx: {{value.tx}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    accuracy: {{value.accuracy}}
                </div>
            </div>        
        </div>
    </div>
</ion-content>
</ion-view>

