<ion-view class="welcome-view" cache-view="false">
  <ion-content padding>
    <div class="top-content row">
      <div class="app-copy col col-top">
        <h1 class="app-logo text-center" >Login</h1>
        <p class="app-tagline">
          </p>
      </div>
    </div>
    <div class = "col header text-center">
               <img src="./img/estimote-ibeacons.png" style="width: 80%; height: 80%"/>
            </div>
    <div class="bottom-content row bar-positive ">
      <div class="col col-bottom ">
      <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()" >
        <i class = "icon icon ion-social-facebook item-icon-left" >  Login with Facebook </i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>




